/* 1. Style header/footer <div> so they are positioned as desired. */

#header-left, #header-right {
    position: absolute;
    top: 2%;
}

#header-left {
    left: 5%;
}
#header-right {
    right: 0%;
}

#footer-left {
    position: absolute;
    bottom: 2%;
    left: 5%;
}

#footer-left > img, #footer-left small{
    vertical-align: middle;
    padding-right: 10px;
}