/* 1. Style header/footer <div> so they are positioned as desired. */

#header-left, #header-right {
    position: absolute;
    top: 2%;
}

#header-left {
    left: 5%;
}
#header-right {
    right: 0%;
}

#footer-left {
    position: absolute;
    bottom: 2%;
    left: 5%;
}

#footer-left > img, #footer-left small{
    vertical-align: middle;
    padding-right: 10px;
}

h1.no-caps, h2.no-caps, h3.no-caps, h4.no-caps, h5.no-caps, h6.no-caps {
    text-transform: none;
}

.reveal section img.no-border { background:none; border:none; box-shadow:none; }
